{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>
person:  {{ person.name }} - {{ person.lastname }}<br>
age {{ person.age }}
</h1>
<h1>User Form</h1>

{{ form_start(user_form) }}
{{ form_row(user_form) }}

{{ form_end(user_form) }}

{% endblock %}
